name: be-server

on:
  push:
    branches:
      - ci/cd

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        id: buildx
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Build and push Docker image
        id: docker_build 
        uses: docker/build-push-action@v5
        with:
          context: ./ 
          file: ./Dockerfile 
          builder: ${{ steps.buildx.outputs.name }} 
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/be-server:latest
      - name: Verify 
        run: echo ${{ steps.docker_build.outputs.digest }}

